<section
  class="bg-sec vh-90 d-flex flex-column justify-content-center align-items-center"
>
  <app-star [titleStar]="aboutTitle" [customColor]="aboutColor"></app-star>
  <div class="container">
    <div class="row g-4 text-white w-75 mx-auto fw-bolder">
      <div class="col-md-6">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem
        repellat, non maiores aspernatur nam velit tempora aliquid quisquam
        dolorum eaque quos ducimus ex voluptas porro fugiat iste laborum
        voluptatibus sapiente aut. Voluptatem quia mollitia animi dolore
        corrupti accusantium fugiat nihil dignissimos, quibusdam sapiente nobis
        consequatur! Ea, velit? Minima, aut pariatur!
      </div>
      <div class="col-md-6">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem
        repellat, non maiores aspernatur nam velit tempora aliquid quisquam
        dolorum eaque quos ducimus ex voluptas porro fugiat iste laborum
        voluptatibus sapiente aut. Voluptatem quia mollitia animi dolore
        corrupti accusantium fugiat nihil dignissimos, quibusdam sapiente nobis
        consequatur! Ea, velit? Minima, aut pariatur!
      </div>
    </div>
  </div>
</section>
